<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="esClient" class="com.retail.datahub.es.sdk.EsClient" init-method="init" destroy-method="destroy">
        <property name="eslist" value="10.13.2.64:9300,10.13.3.23:9300"></property>
        <property name="clusterName" value="mysql_log"></property>
        <property name="sniff" value="true"></property>
    </bean>
</beans>