<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="LOG_COMPLETEPAY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/data-listener.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/data-listener.log%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C] - %m%n</pattern>
		</encoder>
	</appender>

	<appender name="BINLOG_MSG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/binlog-msg.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/binlog-msg.log%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C] - %m%n</pattern>
		</encoder>
	</appender>

	<appender name="HEARTBEAT-MSG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/heartbeat-msg.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/heartbeat-msg.log%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C] - %m%n</pattern>
		</encoder>
	</appender>

	<appender name="ERROR_MSG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/error-msg.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/error-msg.log%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C] - %m%n</pattern>
		</encoder>
	</appender>

	<!-- log output to console -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C] - %m%n</pattern>
		</encoder>
	</appender>



	<!-- base -->
	<logger name="data_listener" level="INFO" additivity="false">
		<appender-ref ref="LOG_COMPLETEPAY_FILE"/>
	</logger>


	<logger name="msg-error" level="INFO" additivity="false">
		<appender-ref ref="ERROR_MSG"/>
	</logger>

	<logger name="com.dmall" level="ERROR" additivity="false">
		<appender-ref ref="ERROR_MSG"/>
	</logger>

	<logger name="binlog-msg" level="INFO" additivity="false">
		<appender-ref ref="BINLOG_MSG"/>
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="heartbeat-msg" level="INFO" additivity="false">
		<appender-ref ref="HEARTBEAT-MSG"/>
		<appender-ref ref="CONSOLE" />
	</logger>


	<root level="INFO">
		<appender-ref ref="LOG_COMPLETEPAY_FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>